<div class="wrapper">
    <navbar></navbar>
    <!-- Page Content  -->
    <div id="content">

        <navigate></navigate>
        <form>
            <div class="form-group">
                <label for="formGroupExampleInput">Nombre </label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ingrese Nombre">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Apellido Paterno</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="ingrese Apellido Paterno">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Apellido Materno</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="ingrese Apellido Materno">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Direccion</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Subir foto</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-lg">Large button</button>

            </div>

        </form>
    </div>
</div>